@model DAQMS.DomainViewModel.UserRoleViewModel
@using Helper
@using System.Web.Mvc

<tr class="dynamicRow">
    @using (Html.BeginCollectionItem("UserRoleList"))  
    {
        if (Model != null)
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.UserId)
            @Html.HiddenFor(model => model.RoleId)
        }
        <td class="center">
            <label class="pos-rel">                
                @Html.CheckBoxFor(m => Model.IsAssignRole, new { @class = "checkBoxShow", id = string.Format("roleId_{0}", Model.RoleId) })
                <span class="lbl"></span>
            </label>
        </td>
        <td>
            @Html.Encode(Model.RoleName)
        </td>
        <td>
            @Html.Encode(Model.ModuleName)
        </td>
    }
</tr>
