<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="@Html.RenderApplicationMetaAuthor()">
    <meta name="keywords" content="@Html.RenderApplicationMetaKeywords()">
    <meta name="description" content="@Html.RenderApplicationMetaDescription()">
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@Html.RenderApplicationTitle() | @ViewBag.Title</title>

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Assets/css/font-awesome.min.css" rel="stylesheet" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="~/Assets/css/font-awesome-ie7.min.css" />
    <![endif]-->
    <!--page specific plugin styles-->
    <!--fonts-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <!--ace styles-->

    <link rel="stylesheet" href="~/Assets/css/ace.min.css" />
    <link rel="stylesheet" href="~/Assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="~/Assets/css/ace-skins.min.css" />

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="~/Assets/css/ace-ie.min.css" />
    <![endif]-->
    <!--inline styles if any-->

    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.11.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <!--Theme-->
    @Html.Partial("_ThemePartial")
    <script src="@Url.Content("~/Scripts/App/App.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-2.8.3.js")" type="text/javascript"></script>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <!-- Header -->
        <header class="main-header">
            <!-- Logo -->
            @Html.RenderApplicationHeader()
            <!-- Logo -->
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">

                        <!-- Messages -->
                        @Html.Partial("_AppMessagePartial")
                        <!-- Notifications -->
                        @Html.Partial("_AppNotificationPartial")
                        <!-- User Account -->
                        @Html.Partial("_UserNavbarPartial")

                    </ul>
                </div>
            </nav>
            <!-- Header Navbar -->
        </header>
        <!-- Header -->
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar -->
            <section class="sidebar">
                <!-- sidebar menu -->
                <!-- Sidebar user panel -->
                @Html.Partial("_UserSidebarPartial")
                <!-- Sidebar main menu -->
                @Html.Partial("_MenuSidebarPartial")
            </section>
            <!-- /.sidebar -->
        </aside>
        <!-- Left side column. contains the logo and sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            @*@Html.Partial("_BreadcrumbPartial")*@
            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- Content Wrapper. Contains page content -->



        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>DAQMS</b>
            </div>
            <strong>Copyright &copy; @DateTime.Now.Year <a href="#">DAQMS</a>.</strong> All rights
            reserved.
        </footer>
    </div>
    <div class="modal fade" id="appModal" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog " id="appModalDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="appModalDialogTitle"></h4>
                </div>
                <div class="modal-body" id="appModalDialogContainer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="appModalLoading" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog " id="appModalDialog" style="width: 32px !important; padding-top: 50% !important; padding-bottom: 50% !important; padding-left: 0px !important; padding-right: 0px !important;">
            <div class="modal-content" style="border:none !important; border-radius: 0px !important;">
                <div class="loading">
                    <img src="~/Theme/img/ajax-loader.gif" />
                </div>
            </div>
        </div>
    </div> 


    <script src="~/Assets/js/bootstrap.min.js"></script>

    <!--page specific plugin scripts-->
    <!--[if lte IE 8]>
      <script src="assets/js/excanvas.min.js"></script>
    <![endif]-->

    <script src="~/Assets/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Assets/js/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/Assets/js/jquery.easy-pie-chart.min.js"></script>
    <script src="~/Assets/js/jquery.sparkline.min.js"></script>
    <script src="~/Assets/js/flot/jquery.flot.min.js"></script>
    <script src="~/Assets/js/flot/jquery.flot.pie.min.js"></script>
    <script src="~/Assets/js/flot/jquery.flot.resize.min.js"></script>

    <!--ace scripts-->

    <script src="~/Assets/js/ace-elements.min.js"></script>
    <script src="~/Assets/js/ace.min.js"></script>

    <!--inline scripts related to this page-->

    <script type="text/javascript">
        $(function () {

            $('.dialogs,.comments').slimScroll({
                height: '300px'
            });

            $('#tasks').sortable();
            $('#tasks').disableSelection();
            $('#tasks input:checkbox').removeAttr('checked').on('click', function () {
                if (this.checked) $(this).closest('li').addClass('selected');
                else $(this).closest('li').removeClass('selected');
            });

            var oldie = $.browser.msie && $.browser.version < 9;
            $('.easy-pie-chart.percentage').each(function () {
                var $box = $(this).closest('.infobox');
                var barColor = $(this).data('color') || (!$box.hasClass('infobox-dark') ? $box.css('color') : 'rgba(255,255,255,0.95)');
                var trackColor = barColor == 'rgba(255,255,255,0.95)' ? 'rgba(255,255,255,0.25)' : '#E2E2E2';
                var size = parseInt($(this).data('size')) || 50;
                $(this).easyPieChart({
                    barColor: barColor,
                    trackColor: trackColor,
                    scaleColor: false,
                    lineCap: 'butt',
                    lineWidth: parseInt(size / 10),
                    animate: oldie ? false : 1000,
                    size: size
                });
            })

            $('.sparkline').each(function () {
                var $box = $(this).closest('.infobox');
                var barColor = !$box.hasClass('infobox-dark') ? $box.css('color') : '#FFF';
                $(this).sparkline('html', { tagValuesAttribute: 'data-values', type: 'bar', barColor: barColor, chartRangeMin: $(this).data('min') || 0 });
            });




            var data = [
              { label: "social networks", data: 38.7, color: "#68BC31" },
              { label: "search engines", data: 24.5, color: "#2091CF" },
              { label: "ad campaings", data: 8.2, color: "#AF4E96" },
              { label: "direct traffic", data: 18.6, color: "#DA5430" },
              { label: "other", data: 10, color: "#FEE074" }
            ];

            var placeholder = $('#piechart-placeholder').css({ 'width': '90%', 'min-height': '150px' });
            $.plot(placeholder, data, {

                series: {
                    pie: {
                        show: true,
                        tilt: 0.8,
                        highlight: {
                            opacity: 0.25
                        },
                        stroke: {
                            color: '#fff',
                            width: 2
                        },
                        startAngle: 2

                    }
                },
                legend: {
                    show: true,
                    position: "ne",
                    labelBoxBorderColor: null,
                    margin: [-30, 15]
                }
              ,
                grid: {
                    hoverable: true,
                    clickable: true
                },
                tooltip: true, //activate tooltip
                tooltipOpts: {
                    content: "%s : %y.1",
                    shifts: {
                        x: -30,
                        y: -50
                    }
                }

            });


            var $tooltip = $("<div class='tooltip top in' style='display:none;'><div class='tooltip-inner'></div></div>").appendTo('body');
            placeholder.data('tooltip', $tooltip);
            var previousPoint = null;

            placeholder.on('plothover', function (event, pos, item) {
                if (item) {
                    if (previousPoint != item.seriesIndex) {
                        previousPoint = item.seriesIndex;
                        var tip = item.series['label'] + " : " + item.series['percent'] + '%';
                        $(this).data('tooltip').show().children(0).text(tip);
                    }
                    $(this).data('tooltip').css({ top: pos.pageY + 10, left: pos.pageX + 10 });
                } else {
                    $(this).data('tooltip').hide();
                    previousPoint = null;
                }

            });






            var d1 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.5) {
                d1.push([i, Math.sin(i)]);
            }

            var d2 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.5) {
                d2.push([i, Math.cos(i)]);
            }

            var d3 = [];
            for (var i = 0; i < Math.PI * 2; i += 0.2) {
                d3.push([i, Math.tan(i)]);
            }


            var sales_charts = $('#sales-charts').css({ 'width': '100%', 'height': '220px' });
            $.plot("#sales-charts", [
                { label: "Domains", data: d1 },
                { label: "Hosting", data: d2 },
                { label: "Services", data: d3 }
            ], {
                hoverable: true,
                shadowSize: 0,
                series: {
                    lines: { show: true },
                    points: { show: true }
                },
                xaxis: {
                    tickLength: 0
                },
                yaxis: {
                    ticks: 10,
                    min: -2,
                    max: 2,
                    tickDecimals: 3
                },
                grid: {
                    backgroundColor: { colors: ["#fff", "#fff"] },
                    borderWidth: 1,
                    borderColor: '#555'
                }
            });


            $('#recent-box [data-rel="tooltip"]').tooltip({ placement: tooltip_placement });
            function tooltip_placement(context, source) {
                var $source = $(source);
                var $parent = $source.closest('.tab-content')
                var off1 = $parent.offset();
                var w1 = $parent.width();

                var off2 = $source.offset();
                var w2 = $source.width();

                if (parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2)) return 'right';
                return 'left';
            }
        })
    </script>
    @*<script type="text/javascript">
    $(function () {
        App.init();
    });
    </script>*@

</body>
</html>