@model  DAQMS.DomainViewModel.ModuleViewModel

@{
    ViewBag.Title = "List of Module";

}

<form id="frmSearch" method="post" action="">
    <div class="table-header">
        List of Module
        @Html.ActionLink("  Add New", "Create", null, new { @class = " icon-plus btn btn-small btn-success pull-right" })
    </div>

    <div class="dataTables_wrapper row-fluid:first-child form-horizontal">

        <div class="row-fluid ">
            <div class="span6">
                <div class="control-group">
                    @Html.LabelFor(model => model.ModuleName, new { @class = "control-label" })
                    <div class="controls">
                        @Html.TextBoxFor(model => model.ModuleName, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="span6">
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="control-group">
                    <div class="controls">
                        <input type="submit" class="btn btn-small btn-success" value="Search" name="btnSearch" style="margin-left:5px;" />
                        @Html.ActionLink("  Refresh", "Index", null, new { @class = "icon-refresh btn btn-small btn-success" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="DataList">
        @{Html.RenderAction("List", "Module");}
    </div>

</form>

<script language="javascript" type="text/javascript">
    jQuery(document).ready(function () {
        $("#frmSearch").submit(function (e) {
            e.preventDefault();
            var data = $(this).serialize();
            $.ajax({
                type: "POST",
                url: '@Url.Action("List", "Module")',
                data: data,
                success: (function (result) {
                    $("#DataList").html(result);
                })
            })
        });
    });
</script>
<script type="text/javascript">
    $(function () {
        var oTable1 = $('#table_report').dataTable({
            "aoColumns": [
              { "bSortable": false },
                null,
              { "bSortable": false }
            ]
        });
        $('[data-rel=tooltip]').tooltip();
    })
</script>


