@model DAQMS.DomainViewModel.ProjectContactViewModel
@using Helper
@using System.Web.Mvc

<tr class="dynamicRow">
    @using (Html.BeginCollectionItem("ProjectContactList"))
    {
        if (Model != null)
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ContactId)
            @Html.HiddenFor(model => model.ProjectId)
        }
        <td>
            <label class="pos-rel">
                @Html.CheckBoxFor(m => Model.IsSelected, new { @class = "checkBoxShow", id = string.Format("ProjectId_{0}", Model.ProjectId) })
                <span class="lbl"></span>
            </label>
        </td>
        <td>
            @Html.Encode(Model.ProjectName)
        </td>
        <td>
            @Html.Encode(Model.DeviceList)
        </td>
    }
</tr>
